@font-face{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    src: local('Arial'),
         url('resources/arial.woff');
}
@font-face{
    font-family: 'Impact';
    font-style: normal;
    font-weight: 400;
    src: local('Impact'),
         url('resources/impact.woff');
}

html, body {
    width: 100%!important;
    overflow-x: hidden!important;
background-color: #CEF5FF!important;
}

